/*
READ INSTRUCTIONS;
Soehne-Dreivivertelfett used for Strong Headings
Soehne-Halbfett used for Section Headings
Soehne-Leicht used for Paragraphs
*/
@font-face {
  font-family: 'Soehne-Dreivivertelfett';
  src: url('../fonts/Soehne-Dreivivertelfett.otf') format('opentype');
}
@font-face {
  font-family: 'Soehne-Halbfett';
  src: url('../fonts/Soehne-Halbfett.otf') format('opentype');
}
@font-face {
  font-family: 'Soehne-Leicht';
  src: url('../fonts/Soehne-Leicht.otf') format('opentype');
}
/*
END OF FONTS
*/
/*
START OF TOP HEADER
*/
header {
    background-color: #00407a;
   
}

.header-logo {
    width: 300px;
    height: auto;
    margin-top: 20px;
    padding-left: 50px;
}
body{
    margin: 0px;
}
main{
    margin-left: 20px;
    margin-right: 20px;
}
h1{
    text-align: center;
    font-family: 'Soehne-Dreivivertelfett', sans-serif;
   color: white;
}
.navigationbar ul{
    font-family: 'Soehne-Dreivivertelfett';
    list-style-type: none;
    background-color: #00407a;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navigationbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    /* This allows the buttons on navigationbar to change color on hovor
barry: get team to decide on 'background-color' or 'color' options*/
}
.navigationbar a:hover{
    color: #d0a86e;
}
.navigationbar li{
    float: left;
}
/* 
END OF TOP HEADER
*/

/* 
START OF MAIN
*/
h2 {
    font-family: "Soehne-Halbfett";
    font-size: 36px;
}
.main-paragraph {
    font-family: "Soehne-Leicht";
    font-size: 18px;
}
.police-members {
    width: 450px;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
h1, h2, h3, h4, p, ul {
    margin: 0;
    padding: 0;
}


/*
START OF BOTTOM FOOTER
*/
footer {
    background-color: #00407a;
    width: 100%;
    bottom: 0;
    padding: 25px 0 30px;
    position: sticky;
    font-size: 13px;
    color: white;
    position: absolute;
    font-family: 'Soehne-Leicht';
}
resize {
    width: 200px;
    height: 300px;
}
/* Footer Layout */
.row {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
}
.align {
    margin-left: auto;
    flex-wrap: wrap;
   
}

.h4 {
  color: #333; /* Dark gray color */
  font-size: 24px; /* Sets the font size */
  font-weight: bold; /* Makes the text bold */
  margin-bottom: 10px; /* Adds space below the heading */
}
.col {
    flex-basis: 25%;
    text-align: left;
}

/* Logo & Headings */
.footer-logo {
    width: 100px;
}
.align {
    text-align: left;
}
.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}
.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}
.col2 {
   
    align-items: flex-start;
    margin-bottom: auto;
    
}

/* Links */
footer ul {
    padding-left: 0;
    list-style: none;
    margin: 0;
}

footer li {
    margin-bottom: 12px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #d0a86e;
}
<<<<<<< HEAD
/*
END OF BOTTOM FOOTER
*/

=======
.box {
    max-width: 550px;      
    margin: 20px auto;  
    padding: 20px;        
    border: 2px solid #424242;;   
    border-radius: 10px;  
  
    background: #f5f5f5;  
}
.card {
    background-color: #2a9bdd;
    border-radius: 0.75rem;
    padding: 5%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}
>>>>>>> anthonybranch
/* WANTED SECTION */

.poster-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 0 33px;
  width: 100%;
  box-sizing: border-box;
}

.wantedborder {
  flex: 1 1 30%;
  max-width: 45%;
  background-color: #ffe920;
  border: 7px solid black;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0 25px 60px rgb(0, 0, 0);
}

.wantedborder h2 {
  font-size: 35px;
  margin: 0;
  line-height: 1.2;
}

.wantedborder img {
  width: 80%;
  max-width: 300px;
  margin: 0 auto;
  border: 10px solid black;
  box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.break {
  flex-basis: 100%;
  height: 15;
<<<<<<< HEAD
}
=======
}

.labelboxes{
    border-radius: 10px;
    height: 25px;
    width: 200px;

}

body, html {
    height: 100%;
}

/* https://www.w3schools.com/cssref/pr_background-image.php */ 
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/v2/images/depositphotos_631849708-stock-photo-blue-lights-police-car-raindrops.jpg");

  /* Set a specific height */
  height: 500px; 

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/* dlk */
>>>>>>> anthonybranch
