/* Explore BC Project - Starter Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.headerz {
    font-family: Arial, Helvetica, sans-serif;
    color: cornflowerblue;
}


.resize{
resize: none;
width: 500px;
height: 30px;
}


.note {
  background-color: lightblue;
  padding: 20px;

}
.leftt{
    float:left
}
main {
  clear: both;
}